{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% set titleSection = 'Bienvenue sur Poké Wiki' %}

{% block body %}
	{% include('includes/title.twig') %}
	<p class="text-lg text-center">
		Poké Wiki est un site web fan qui recense les Pokémon des différentes générations.<br>
		Créez dès maintenant votre compte et contribuer au recensement de nouveaux Pokémon.
	</p>

	{# Boucle sur les catégories #}
	{% for key, category in randomArticle['cat'] %}

		<div class="flex items-center mt-14 mb-5 text-secondary text-3xl">
			<span>Type {{ category.name }}</span>
			<img src="{{ asset('/static/uploads/categories/'~category.logoUrl) }}" alt="" class="ml-3" width="45" height="45">
		</div>

		{% if randomArticle['cat'~category.id]|length < 3 %}
			<p class="font-semibold">Il  n'y a pas assez de pokemons ({{ randomArticle['cat'~category.id]|length}}) de cette catégorie pour afficher le carousel</p>
			<p>3 pokemons minimum sont requis</p>
			<a href="{{ app.user ? path('pokemon_create') : path('auth_login') }}" class="inline-flex bg-primary hover:bg-secondary text-secondary hover:text-primary font-semibold mt-4 py-3 px-5 rounded-2xl transition-colors duration-300">{{ app.user ? 'Ajouter des pokemons' : 'Connectez-vous pour en ajouter' }}</a>
		{% else %}
			<div id="{{ 'carousel-'~key }}" class="rounded-2xl relative w-[90%] mx-auto opacity-0 transition-opacity duration-500 {{ 'bg-'~category.url }}">

				{# Boucle sur les articles #}
				{% for pokemon in randomArticle['cat'~category.id] %}

						<div class="flex justify-center items-center bg-black bg-opacity-50 rounded-2xl h-full w-full relative p-8 z-30">
							<div class="absolute h-full w-full">
								<p class="absolute w-full right-0 font-medium bg-black bg-opacity-50 text-gray-200 px-5 py-2 rounded-t-2xl text-center uppercase">{{ pokemon.name }}</p>

								<a href="{{ path('pokemon_read', { 'name': pokemon.name|lower }) }}" class="flex absolute right-0 bottom-0 mx-auto font-medium bg-black bg-opacity-50 text-gray-200 text-sm px-5 py-2 rounded-tl-2xl rounded-br-2xl">Plus d'informations</a>
							</div>
							<img src="{{ asset('/static/uploads/pokemons/'~pokemon.image_url) }}" alt="" class="object-contain" height="230" width="230">
						</div>

				{% endfor %}

			</div>
		{% endif %}

	{% endfor %}
{% endblock %}
