{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<h1>Inscrivez-vous</h1>

	{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.name, {
			label: 'Nom'
		}) }}
		{{ form_row(registrationForm.firstname, {
			label: 'Prénom'
		}) }}
		{{ form_row(registrationForm.username, {
			label: 'Pseudo'
		}) }}
		{{ form_row(registrationForm.plainPassword, {
			label: 'Mot de passe'
		}) }}
		<button type="submit" class="btn">S'inscrire</button>
	{{ form_end(registrationForm) }}
{% endblock %}
